<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SideSync Editing...</title>
</head>
<body>
    <form method="POST">
        <label for="player_name">Player name:</label>
            <input type = "text" id="player_name" name="player_name" value = "{{player.name}}" required>
        <label for="athleticism">Athleticism: </label>
            <input type = "number" id="athleticism" name="athleticism" min="1" max="10" step="0.5" value = "{{player.athleticism}}" required>
        <label for="technical">Technical: </label>
            <input type = "number" id="technical" name="technical" min="1" max="10" step="0.5" value = "{{player.technical}}" required>
        <label for="football_iq">Football IQ: </label>
            <input type = "number" id="football_iq" name="football_iq" min="1" max="10" step="0.5" value = "{{player.football_iq}}" required>
        <button type="submit">Save Changes</button>
    </form>
</body>
</html>